*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*~
data/raw
data/testing
data/training
data/training-flipped
data/training-flipped-reversed
data/training-reversed
data/validation
output/predictions.csv
archive/data-old/
archive/data-old-2/
archive/data-old-3/
rf/rf_predictions.csv
rf/train.csv
rf/valid.csv
archive/features-old/
dnn/dropout/gdahl/mnist.npz
*.DS_Store
dnn/dropout/*.p
data/temp.csv
rf/saved-forest-AB.RData
output
dnn/hfdemo/digs3pts_1.mat
dnn/hfdemo/copula_images.mat
dnn/hfdemo/HFtestrun2_nnet_epoch*.mat
dnn/hfdemo/HFtestrun2_nnet_running.mat
dnn/hfdemo/HFtestrun2.txt
dnn/hfdemo2/
dnn/hfdemo3/
dnn/hfdemo/images*.mat
dnn/dropout/images.mat

